@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    <h1>Hello world!</h1>
    <p>This is a demo of a simple website getting content from a micro service.</p>
    <h2>Content from microservice</h2>
    <p>Soon you will see some data fetched from the microservice here.</p>
    <h2>API</h2>
    <p><a href="http://localhost:6200">Open the API directly here</a></p>
</div>
</body>
</html>