@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Hello world!</h1>
        <p>This is a demo of a simple website getting content from a micro service.</p>
    </div>
</body>
</html>